@import "../../styles/variables.css";


.nav-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.menu-container {
    display: flex;
}

.menu {
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
}

.menu li, ul {
    color: var(--purple-color);
   text-decoration: none;
   list-style-type: none;
}